.icon {
    background: url(../images/sprite.png);
    display: inline-block;
    background-size: 800px 800px;
}

.icon-line-title {
    width: 46px;
    height: 5px;
    background-position: -24px -28px;
}

.icon-flag-usa {
    width: 16px;
    height: 11px;
    background-position: -118px -25px;
}

.icon-checkcode {
    width: 14px;
    height: 18px;
    background-position: -171px -22px;
}

.icon-map-marker {
    width: 14px;
    height: 18px;
    background-position: -206px -24px;
}

.icon-history {
    width: 18px;
    height: 18px;
    background-position: -244px -22px;
}

.icon-check {
    width: 13px;
    height: 10px;
    background-position: -289px -27px;
}
.icon-c-phone {
    width: 17px;
    height: 16px;
    background-position: -323px -25px;
}

.icon-c-email {
    width: 20px;
    height: 16px;
    background-position: -376px -27px;
}

.icon-c-chat {
    width: 17px;
    height: 16px;
    background-position: -421px -25px;
}
.icon-check-menu {
    width: 36px;
    height: 36px;
    background-position: -462px -15px;
}
.icon-close-mn {
    width: 15px;
    height: 15px;
    background-position: -524px -28px;
}
.icon-dot-row {
    width: 5px;
    height: 23px;
    background-position: -569px -26px;
}
.icon-exchange {
    width: 14px;
    height: 14px;
    background-position: -583px -94px;
}
.icon-info-yl {
    width: 15px;
    height: 15px;
    background-position: -322px -87px;
}
.icon-book1 {
    width: 16px;
    height: 15px;
    background-position: -600px -28px;
}
.icon-book2 {
    width: 19px;
    height: 12px;
    background-position: -700px -34px;
}
.icon-book3 {
    width: 19px;
    height: 17px;
    background-position: -40px -81px;
}
.icon-book4 {
    width: 14px;
    height: 17px;
    background-position: -160px -85px;
}
.icon-delete-button {
    width: 30px;
    height: 2px;
    background-position: -641px -99px;
}
.icon-product-booking {
    width: 19px;
    height: 15px;
    background-position: -377px -91px;
}
.icon-prev {
    width: 9px;
    height: 17px;
    background-position: -490px -93px;
}

.icon-next {
    width: 9px;
    height: 17px;
    background-position: -538px -93px;
}
.icon-history-gray {
    width: 19px;
    height: 19px;
    background-position: -754px -93px;
}
.icon-btn-fb {
    width: 18px;
    height: 18px;
    background-position: -32px -150px;
}
.icon-btn-gg {
    width: 18px;
    height: 18px;
    background-position: -93px -150px;
}
.icon-edit-user {
    width: 23px;
    height: 19px;
    background-position: -159px -152px;
}

.icon-exchange-user {
    width: 19px;
    height: 19px;
    background-position: -219px -150px;
}
.icon-check-user {
    width: 15px;
    height: 15px;
    background-position: -282px -157px;
}
.icon-accept-use {
    width: 15px;
    height: 15px;
    background-position: -333px -158px;
}
.icon-aff-join {
    width: 55px;
    height: 50px;
    background-position: -379px -138px;
}
.icon-mail-success {
    width: 38px;
    height: 37px;
    background-position: -472px -147px;
}

.icon-mail-error {
    width: 47px;
    height: 33px;
    background-position: -542px -152px;
}
.icon-return-udh {
    width: 16px;
    height: 15px;
    background-position: -620px -214px;
}

.icon-edit-udh {
    width: 15px;
    height: 15px;
    background-position: -667px -214px;
}

.icon-delete-udh {
    width: 13px;
    height: 15px;
    background-position: -727px -214px;
}
.icon-phone-white {
    width: 17px;
    height: 18px;
    background-position: -384px -219px;
}

.icon-messenger {
    width: 33px;
    height: 33px;
    background-position: -440px -211px;
}