@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue-Bold.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue-Light.otf');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'myHelvetica';
    src: url('../font/HelveticaNeue-BoldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    background-color: #f5f5f5;
}



a,
a:hover {
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    outline: 0;
    text-decoration: none;
}

.badges {
    display: inline-block;
    padding: .25em .4em;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

ul {
    list-style: none outside;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.margin-0 {
    margin: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-25 {
    margin: 25px;
}

.margin-30 {
    margin: 30px;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-right-0 {
    margin-right: 0px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.center {
    text-align: center;
}

.border-0 {
    border: 0;
}

.image-circle {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.group-control {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.group-control-label {
    width: 130px;
    margin-right: 10px;
}

.group-control-btn {
    width: calc(100% - 140px);
}

.btn-control {
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
    padding: 9px 15px;
    background-color: #f8f8f8;
}

::placeholder {
    font-size: 12px;
    text-align: right;
    color: #a5a5a5;
}

select.btn-control {
    padding: 11px 15px;
    height: 44px;
}

.btn-button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    padding: 0;
    height: 42px;
    display: flex;
    align-items: center;
}

.btn-button .btn-text {
    padding: 0px 22px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    flex-grow: 1;
}

.btn-button .btn-icon-btn-left {
    border-right: 1px solid #ddd;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 16px;
}

.btn-button .btn-icon-btn-right {
    border-left: 1px solid #ddd;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-colorm {
    color: #fff !important;
    background: #ef9620;
}
.btn-colorm:hover {
    background-color: #d4841a;
}
.btn-colors {
    color: #fff !important;
    background: #f5ba16;
}
.btn-colors:hover {
    background-color: #ef9620;
}
.btn-default {
    background-color: #f8f8f8;
}

.checkbox-content {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 15px;
    color: #1a1a1a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-content .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #e1e1e1;
    border-radius: 5px;
}

.checkbox-content:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-content input:checked~.checkmark {
    background-color: #01b14f;
}

.checkbox-content .checkmark:after {
    content: "";
    position: absolute;
}

.checkbox-content .checkmark:after {
    left: 8px;
    top: 5px;
    width: 7px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-bold {
    font-weight: 600;
}

.text-colorm {
    color: #ef9620;
}

.radio-content {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    color: #1a1a1a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-content .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.radio-content:hover input~.checkmark {
    background-color: #ccc;
}

.radio-content .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-content input:checked~.checkmark:after {
    display: block;
}

.radio-content .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
}

.btn-green {
    color: #fff !important;
    background: linear-gradient(to right, #34a853, #34a87b);
}
textarea:focus, input:focus{
    outline: none;
}

.layout-sibling{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.layout-sibling .content-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.layout-sibling  .content-page-bg {
    flex-grow: 1;
}

.pagination-page {
    margin-top: 25px;
    text-align: right;
}

.pagination-page li {
    display: inline-block;
}

.pagination-page a {
    width: 50px;
    height: 48px;
    display: flex;
    border-right: 1px solid #ddd;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    font-size: 15px;
    color: #888888;
}

.pagination-page ul {
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin-left: auto;
    border-radius: 5px;
    overflow: hidden;
}

.pagination-page li:last-child a {
    border: 0;
}
.pagination-page li.active a {
    background-color: #f5ba16;
    color: #fff;
}
.input-left::placeholder{
    text-align: left;
}
.btn-noicon {
    border: 1px solid #ddd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 11px 15px;
}
.btn{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}