@media (min-width: 1200px) {}



@media (min-width:992px) {
    .show-pc-992 {
        display: block;
    }
    .show-mb-992 {
        display: none;
    }
}

@media(min-width:768px) {
    .show-pc {
        display: block;
    }
    .show-mb {
        display: none;
    }
}

@media(min-width:576px) {
    .show-mb-575 {
        display: none;
    }
    .hide-mb-575 {
        display: block;
    }
    .show-collapse-pc {
        display: block !important;
    }
}
@media (max-width: 1200px) {
    .hd-user-avt {
        width: 90px;
        height: 90px;
    }
    .hd-user-id {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .hd-user-name {
        font-size: 14px;
    }
    .hd-user-vote {
        font-size: 15px;
    }
    .menu-header-right .menu-header-register {
        display: none !important;
    }
    .group-coupon{
        display: block;
    }
    .group-coupon .group-control-label{
        margin-bottom: 5px;
    }
    .home-book-right {
        width: calc(50% - 40px);
    }
    
}
@media (max-width: 1200px) and (min-width: 992px){
    .menu-header-userdes {
        display: none;
    }
    .menu-header-user-icon {
        display: none;
    }
    .menu-header-useravt {
        margin-right: 0;
    }
    .group-control-date .text-note {
        display: none;
    }
}

@media(max-width:1025px) {
    .home-news-item .news-list-item-img {
        width: 150px;
    }
    .home-news-item .news-list-item-content {
        width: calc(100% - 180px);
    }
}

@media(max-width:991px) {
    .show-pc-992 {
        display: none;
    }
    .show-mb-992 {
        display: block;
    }
    .menu-header-right .menu-header-register {
        display: none;
    }
    .menu-header-right a {
        padding: 15px;
    }
    .menu-header-link {
        padding: 10px;
    }
    .memu-header-list {
        margin-left: 15px;
    }
    .news-title-group {
        padding: 15px;
    }
    .title-section-center {
        margin-bottom: 25px;
    }
    .content-page-bg {
        padding: 40px 0;
    }
    .news-list-item-img {
        width: 100%;
        margin-right: 0;
    }
    .news-list-item-content {
        width: 100%;
        padding: 20px 0 10px;
    }
    .news-list-item {
        padding: 15px;
        display: block;
    }
    .news-category-item {
        padding: 10px 15px;
    }
    .news-sticky-item {
        padding: 15px;
    }
    .newss-view-more {
        padding: 15px;
    }
    .footer-bot-flex {
        display: block;
    }
    .footer-list-quest {
        margin-bottom: 10px;
    }
    .group-control-label {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .group-control-btn {
        width: 100%;
    }
    .group-two-btn .btn {
        width: 100%;
        margin-left: 0 !important;
    }
    .ab-count-number {
        font-size: 35px;
    }
    .ab-count-section {
        padding: 50px 0;
    }
    .ab-contact {
        padding: 50px 0;
    }
    .ab-slg-title {
        font-size: 24px;
    }
    .c-item {
        height: auto;
        margin-bottom: 15px;
    }
    .content-page {
        padding-top: 55px;
    }
    .home-book-content {
        padding: 30px;
    }
    .home-book-flex {
        display: block;
    }
    .home-book-left {
        width: 100%;
        margin-bottom: 25px;
    }
    .home-book-flex .group-two-btn .btn{
        width: auto;
    }
    .home-book-flex .group-two-btn{
        display: block;
    }
    .home-book-left .group-two-btn{
        margin: 25px 0 !important;
    }
    .home-book-right .group-two-btn{
        margin-top:5px !important ;
    }
    .home-book-right {
        width: 100%;
    }
    .button-nolabel {
        margin: 0;
    }
    .product-item-right {
        width: 250px;
        flex-direction: column;
    }
    .product-item-price {
        margin-bottom: 10px;
    }
    .home-news-item {
        display: flex;
    }
    .home-news-item .news-list-item-img {
        margin-right: 15px;
    }
    .home-news-item .news-list-item-content {
        width: calc(100% - 165px);
    }
    .home-news-item .news-list-item-title {
        max-height: 24px;
        -webkit-line-clamp: 1;
    }
    .product-car-left {
        width: 50%;
    }
    .product-car-right {
        display: block;
        width: 50%;
    }
    .product-car-right .product-item-booking {
        display: block;
        margin-top: 10px;
    }
    .user-page {
        padding: 30px 0px;
    }
    .home-form-title {
        font-size: 40px;
    }
    .home-form-subtitle {
        font-size: 20px;
    }
    .aff-si-image {
        height: 210px;
    }
    .aff-choose-col {
        padding-left: 0;
    }
    .aff-join-content span {
        font-size: 18px;
        margin: 0 30px 0 15px;
    }
    .aff-join-content a {
        padding: 10px 20px;
    }
    .aff-step-item:before {
        top: 90px;
        left: -33px;
    }
    .ce-title-page {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .nd-after-news {
        display: block;
    }
    .nd-line-after {
        display: none;
    }
    .ud-news-before {
        text-align: left;
        margin-top: 15px;
    }
    .nd-footer {
        display: block;
        margin-bottom: 10px;
    }
    .nd-tags {
        margin-bottom: 15px;
    }
    .nd-bg {
        padding: 15px;
    }
    .nd-related-title {
        padding: 15px;
        align-items: center;
    }
    .nd-redlated-carousels {
        padding: 15px;
    }
}

@media(max-width:767px) {
    .show-pc {
        display: none;
    }
    .show-mb {
        display: block;
    }
    .news-list {
        margin-bottom: 30px;
    }
    .footer-flex {
        display: block;
    }
    .footer-list-page {
        margin-bottom: 10px;
    }
    .border-layout-left {
        border-right: none;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .contact-page-twocol {
        display: block;
    }
    .contact-page-col {
        width: 100%;
        padding: 0;
    }
    .ab-utilities-item {
        margin-bottom: 30px;
    }
    .ab-slg-img {
        margin-bottom: 30px;
    }
    .last-section-border {
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding-bottom: 25px;
    }
    .c-iframe-map {
        margin-top: 0px;
    }
    .news-sticky {
        margin-bottom: 15px;
    }
    .news-slide {
        margin-bottom: 15px;
    }
    .news-category {
        margin-bottom: 15px;
    }
    .tab-book-title-text {
        display: none;
    }
    .nav-link.active .tab-book-title-text {
        display: block;
    }
    .home-list-car-filter {
        flex-wrap: wrap;
    }
    .home-car-filter-col {
        flex-grow: 1;
        padding: 0 10px;
        min-width: 50%;
        max-width: 50%;
        margin-bottom: 15px;
    }
    .home-list-car-filter {
        padding-bottom: 10px;
    }
    .product-item {
        display: block;
    }
    .product-item-left {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        display: block;
    }
    .product-item-right {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .product-item-driver {
        width: 100%;
        margin-right: 25px;
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .product-item-driver-avt {
        margin: 0;
        margin-right: 15px;
    }
    .home-partner-nav {
        margin-top: 5px;
    }
    .home-form-title {
        font-size: 30px;
    }
    .home-form-subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .product-car-left {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
    .product-car-right {
        width: 100%;
    }
    .product-car-img {
        width: 150px;
    }
    .product-car-left {
        align-items: center;
    }
    .history-list-item .product-item {
        display: flex;
    }
    .product-history-right {
        display: block;
    }
    .product-history-info {
        margin-bottom: 15px;
    }
    .list-car-filter .home-car-filter-col {
        min-width: 50%;
        max-width: 50%;
    }
    .user-detail-right {
        padding: 30px;
    }
    .user-nav-layout {
        padding: 30px;
    }
    .home-distance .home-distance-from:first-child input {
        padding-top: 8px;
    }
    .product-item-price {
        margin-bottom: 0px;
    }
    .aff-step {
        padding: 35px 0;
    }
    .aff-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .aff-title-sub {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .aff-si-image {
        height: auto;
    }
    .aff-step-item {
        margin-bottom: 80px;
    }
    .aff-step-item.last {
        margin-bottom: 20px;
    }
    .aff-price {
        padding: 35px 0px 0;
    }
    .aff-price-title-sub {
        margin-bottom: 30px;
    }
    .aff-choose {
        padding: 35px 0;
    }
    .aff-info-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .aff-info-content p {
        margin-bottom: 15px;
    }
    .aff-info {
        display: block;
        margin-bottom: 25px;
    }
    .aff-ci-content {
        min-height: 0;
    }
    .aff-choose-item {
        margin-bottom: 15px;
    }
    .aff-ci-title {
        margin-bottom: 5px;
    }
    .aff-join-content {
        display: block;
    }
    .aff-join-content span {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .aff-join-content .icon {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .aff-price-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .aff-price-item {
        padding: 0;
    }
    .aff-step-item:before {
        top: -44px;
        left: calc(50% - 25px);
        transform: rotate(90deg);
    }
    .ce-title-page {
        font-size: 18px;
        margin-bottom: 0;
    }
    .group-control-date .text-note {
        display: none;
    }
    .ud-history-btn a{
        margin-left: 0;
        margin-right: 15px;
    }
    .page-messenger {
        right: 15px;
        bottom: 15px;
    }
}

@media(max-width :575px) {
    .hide-mb-575 {
        display: none;
    }
    .show-mb-575 {
        display: block;
    }
    
    .news-list-item-title {
        font-size: 15px;
    }
    .footer-list-page li {
        display: block;
        margin-bottom: 10px;
    }
    .footer-list-quest ul li {
        display: block;
        margin-bottom: 10px;
    }
    .news-slide .owl-dots {
        bottom: 0px;
    }
    .news-slide {
        margin-bottom: 15px;
    }
    .news-list {
        margin-bottom: 15px;
    }
    .news-category {
        margin-bottom: 15px;
    }
    .hd-user-flex {
        display: block;
        text-align: center;
    }
    .hd-user-info {
        display: block;
        text-align: center;
    }
    .hd-user-avt {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .hd-user-name {
        margin-bottom: 10px;
    }
    .hd-title {
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
    }
    .hd-notification {
        padding: 15px;
    }
    .hd-user {
        padding: 25px 15px;
    }
    .hd-id-booking {
        padding: 15px;
    }
    .hd-detail-history {
        padding: 30px 15px 10px;
    }
    .ab-title-page {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .ab-utilities-item-img {
        margin-bottom: 15px;
    }
    .ab-slg-img {
        margin-bottom: 15px;
    }
    .ab-slg-title {
        font-size: 20px;
        line-height: 24px;
    }
    .ab-contact-flex {
        display: block;
    }
    .ab-contact-flex .btn-button{
        width: 100%;
    }
    .ab-contact-title {
        font-size: 24px;
    }
    .c-item {
        padding: 15px;
    }
    .ab-utilities-item-name {
        font-size: 16px;
    }
    .ab-count-type {
        font-size: 14px;
    }
    .ab-count-number {
        font-size: 28px;
    }
    .ab-contact-flex .group-control {
        margin-right: 0 !important;
    }
    .group-two-btn {
        width: calc(100% + 10px);
        margin-left: -5px;
    }
    .group-two-btn .btn {
        width: calc(50% - 10px);
        margin-left: 0 !important;
        margin: 0 5px !important;
    }
    .footer-bot-flex {
        display: flex;
    }
    .footer-language-mb {
        border-top: 1px solid #ddd;
        padding-top: 15px;
    }
    .group-btn-long {
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    
    .group-btn-long .btn {
        width: auto;
    }
    
    .group-btn-long .btn .btn-icon-btn-left, .group-btn-long .btn .btn-icon-btn-right {
        width: 40px;
    }
    .group-btn-long .btn-text{
        padding: 0 15px;
    }
    .home-form-tab .nav-link {
        padding: 0 15px;
    }
    .home-book-content {
        padding: 15px;
    }
    .home-form-title {
        display: none;
    }
    .home-formbook {
        padding: 120px 0px;
    }
    .home-form-line {
        display: none;
    }
    .home-form-subtitle {
        display: none;
    }
    .home-list-car {
        padding: 40px 0;
    }
    .product-item-distance-flex {
        display: block;
    }
    .product-item-distance-dots {
        display: none;
    }
    .product-item {
        padding: 15px;
    }
    .home-partner {
        padding: 120px 0 25px;
    }
    .home-news-item .news-list-item-img {
        width: 90px;
    }
    .home-news-item {
        margin-bottom: 15px;
    }
    .home-news-item .news-list-item-content {
        width: calc(100% - 105px);
        padding: 0;
    }
    .home-news-item .news-list-item-title {
        max-height: 48px;
        -webkit-line-clamp: 2;
    }
    .home-news-item .news-list-item-des {
        display: none;
    }
    .home-news-item .news-list-item-interact{
        display: none;
    }
    .home-news {
        padding: 40px 0;
    }
    .product-car-img {
        width: 120px;
    }
    .product-history-left {
        width: 50px;
        margin-right: 15px;
    }
    .history-list-item .product-item {
        align-items: end;
    }
    .product-history-name {
        font-size: 16px;
    }
    .history-list-item .text-muted{
        margin-bottom: 5px;
    }
    .login-social-list a {
        padding: 20px 15px;
    }
    .user-detail-right {
        padding: 20px 15px;
    }
    .user-nav-layout {
        padding: 20px 15px;
    }
    .user-detail-right .btn-colorm {
        width: 100%;
    }
    .nav-btn {
        padding: 0 10px;
    }
    .home-book-flex .group-two-btn .btn {
        margin-left: 0 !important;
    }
    .aff-ci-title {
        font-size: 16px;
        margin-bottom: 0;
    }
    .aff-info-content a {
        width: 100%;
    }
    .aff-join {
        padding: 35px 0;
    }
    .group-control-date .btn {
        width: 33%;
        margin-right: 10px;
        padding: 12px 10px;
    }
    .ud-history-top {
        padding: 35px 15px 10px 15px;
    }
    .group-control-date .btn:last-child{
        margin: 0;
    }
    .ud-mail-top {
        padding: 15px;
    }
    .nd-after-news {
        display: none;
    }
    .nd-footer {
        margin-bottom: 10px;
        margin-top: 30px;
    }
}