header.menu-header-pc {
    height: 75px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px #ddd;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.menu-header-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-header-left {
    display: flex;
    flex-grow: 1;
    padding: 15px 0;
}

.memu-header-list ul {
    display: flex;
}

.menu-header-link {
    font-size: 15px;
    color: #1a1a1a;
    font-weight: 600;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}

.memu-header-list {
    margin-left: 30px;
}

.menu-header-nolg a {
    padding: 15px 25px;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 8px;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #222222;
    font-weight: 700;
}
.menu-header-right .menu-header-user {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 12px 14px;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 8px;
    border-radius: 5px;
    color: #222222;
    font-weight: 700;
}

.menu-header-useravt {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    position: relative;
}
.user-nav-avt-border{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}
.menu-header-useravt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-header-userstt {
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.menu-header-user-icon {
    width: 12px;
    margin-left: 10px;
    font-size: 20px;
}

.menu-header-userdes {
    width: calc(100% - 87px);
    min-width: 120px;
    
}

.menu-header-userdes-note {
    margin: 0;
    font-size: 11px;
    color: #555555;
    text-transform: uppercase;
}

.menu-header-userdes-name {
    margin: 0;
    color: #222222;
    font-size: 18px;
    text-transform: initial;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu-hr-dropdown {
    position: relative;
}

.menu-hr-dropdown-content {
    position: absolute;
    width: 270px;
    background-color: #fff;
    right: 0;
    top: 73px;
    box-shadow: 1px 6px 4px 1px #f1eded;
    display: none;
}
.menu-hr-dropdown:hover .menu-hr-dropdown-content {
    display: block;
}
.menu-hr-dropdown-content a {
    padding: 10px 25px;
    display: block;
    font-size: 14px;
    color: #555555;
}

/* .menu-hr-dropdown-content ul {
    padding: 15px 0;
} */

.menu-hr-dropdown-content .menu-header-user-logout {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    font-size: 11px;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-header-right .menu-header-register {
    background-color: #222222;
    color: #fff;
}
.header-mobile {
    background-color: #fff;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: 1px 1px 4px 1px #ddd;
}

.logo-mobile {
    margin: 10px 0;
}

.header-mb-right a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 23px;
    color: #222222;
}

.header-mb-right {
    display: flex;
}
.menu-header-nolg {
    padding: 15px 0;
}
.menu-mb-main {
    position: fixed;
    height: 100%;
    top: 0;
    width: 280px;
    background-color: #fff;
    z-index: 11;
    left: -280px;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.menu-mb-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-mb-main-title {
    flex-grow: 1;
}


.menu-mb-main-left img {
    max-height: 35px;
    width: auto;
}
.menu-title-mb-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.menu-mb-close {
    color: #222;
    font-size: 22px;
}

.menu-mb-main-left {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-mb-list a {
    font-size: 16px;
    color: #1a1a1a;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    align-items: center;
}

.menu-mb-main-footer {
    padding: 15px;
}

.menu-mb-main-footer a {
    display: block;
    padding: 15px 25px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #222222;
    font-weight: 700;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.menu-mb-main-footer .menu-header-register {
    background-color: #222222;
    color: #fff;
}
.bg-open-mn {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000b5;
    z-index: 10;
    display: none;
}
.open-menu-mb .menu-mb-main {
    left: 0;
}

.open-menu-mb .bg-open-mn {
    display: block;
}
.content-page {
    padding-top: 75px;
}
.page-breadcrumbs a {
    padding: 15px;
    display: inline-block;
    font-size: 12px;
    color: #555555;
    position: relative;
}

.page-breadcrumbs ul {
    display: flex;
}

.page-breadcrumbs a:after {
    width: 2px;
    height: 2px;
    content: "";
    background-color: #555555;
    position: absolute;
    right: 0;
    top: 23px;
}

.page-breadcrumbs li:last-child a:after {
    display: none;
}

.page-breadcrumbs a.current {
    color: #222222;
}

.news-slide .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.news-slide .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.title-section-center h2 {
    font-size: 20px;
    color: #222222;
    text-transform: uppercase;
    margin: 0;
}

.title-section-center h2 span {
    color: #ef9620;
}

.content-page-bg {
    padding: 65px 0;
}

.page-breadcrumbs li:first-child a {
    padding-left: 0;
}

.title-section-center {
    margin-bottom: 35px;
}

.news-slide {
    margin-bottom: 30px;
}

.news-list {
    background-color: #fff;
}

.news-title-group {
    font-size: 16px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 25px;
    border-bottom: 1px solid #ddd;
}

.news-list-item {
    padding: 30px;
    display: block;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.news-list-item-img {
    width: 300px;
    margin-right: 30px;
}

.news-list-item-content {
    width: calc(100% - 330px);
    padding: 30px 0;
}

.news-list-item-time {
    font-size: 14px;
    color: #888888;
    font-style: italic;
    margin-bottom: 10px;
}

.news-list-item-address {
    color: #ef9620;
}

.news-list-item-title {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
}

.news-list-item-des {
    font-size: 14px;
    color: #888888;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: 104px;
    overflow: hidden;
    font-size: 14px;
    color: #5f6d75;
    margin-bottom: 15px;
}

.news-list-item-interact {
    display: flex;
    font-size: 13px;
    color: #555555;
    font-style: italic;
}

.news-item-like {
    margin-right: 20px;
}

.newss-view-more {
    padding: 20px 25px;
    text-align: center;
}

.newss-view-more a {
    color: #ef9620;
    font-weight: 600;
}

.news-category {
    background-color: #fff;
    margin-bottom: 30px;
}

.news-category-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.news-category-list {
    padding: 15px 0;
}

.news-category-item a {
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
}

.news-category-item a.current {
    color: #ef9620;
}

.news-sticky {
    background-color: #fff;
}

.news-sticky-item {
    padding: 25px;
    display: block;
}

.news-sticky-item-img {
    margin-bottom: 20px;
}

.news-sticky-item-title {
    font-size: 15px;
    color: #222222;
    font-weight: 600;
    margin: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 44px;
    overflow: hidden;
}

.news-sticky-item {
    border-bottom: 1px solid #ddd;
}

.news-sticky-list .newss-view-more {
    padding: 10px 25px;
}

footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-top {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}

.footer-bot {
    padding: 20px 0px;
    font-size: 12px;
    color: #555555;
}

.footer-list-page li a {
    margin-right: 15px;
    font-size: 12px;
    color: #1a1a1a;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-list-page li {
    display: inline-block;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-list-page li a:hover {
    color: #ef9620;
}

.footer-language a {
    color: #555555;
    font-size: 12px;
}

.footer-list-quest ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-list-quest ul li a {
    color: #555555;
    font-size: 12px;
}

.menu-header-link:hover {
    color: #ef9620;
}

.footer-bot-flex {
    display: flex;
    justify-content: space-between;
}

.border-layout-left {
    border-right: 1px solid #ddd;
    height: 100%;
    padding-right: 80px;
    padding-left: 0 !important;
}

.group-control-two-name {
    display: flex;
    align-items: center;
}

.group-control-two-name select {
    width: 90px;
}

.line-info {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

.text-price {
    font-size: 24px;
    color: #dc1c30;
}

.contact-page-twocol {
    display: flex;
}

.contact-page-col {
    width: 50%;
    padding-left: 80px;
    height: auto;
}

.page-breadcrumbs {
    background-color: #f8f8f8;
    margin-top: 1px;
}
.hd-title {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: #222222;
}

.hd-notification {
    padding: 15px 25px;
    text-align: center;
    font-size: 12px;
    color: #222222;
    background-color: #ffecd5;
}

.hd-user {
    padding: 25px;
}

.hd-user-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hd-user-info {
    display: flex;
    align-items: center;
}

.hd-user-avt {
    width: 130px;
    height: 130px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.hd-user-id {
    font-size: 18px;
    color: #222222;
    margin-bottom: 5px;
}

.hd-user-name {
    margin: 0;
    font-size: 16px;
    color: #222222;
}

.hd-user-vote {
    color: #ffbf35;
    font-size: 18px;
}

.hd-id-booking {
    color: #fff !important;
    background: linear-gradient(to right, #34a853, #34a87b);
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
}

.hd-detail-history {
    padding: 40px 25px 20px;
}

.hd-distance-from .fa {
    color: #32a3ce;
    font-size: 16px;
}

.hd-distance-to .fa {
    color: #ff4a5d;
    font-size: 18px;
}

.hd-distance {
    font-size: 14px;
    color: #222222;
}
.hd-distance-icon {
    color: #e9e9e9;
}
.hd-modal-vote .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}

.hd-modal-avt {
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
}

.hd-modal-quest {
    font-size: 20px;
    color: #222222;
    margin-bottom: 10px;
}

.hd-modal-note {
    font-size: 14px;
    color: #888888;
    margin-bottom: 20px;
}

.hd-modal-star-vote {
    margin-bottom: 30px;
    font-size: 18px;
    color: #e1e1e1;
}
.ab-title-page {
    font-size: 30px;
    color: #222222;
    margin-bottom: 30px;
}

.ab-text {
    font-size: 14px;
    color: #888888;
}

.ab-utilities-item-img {
    margin-bottom: 25px;
}

.ab-utilities-item-name {
    font-size: 18px;
    color: #2d3436;
    margin-bottom: 5px;
}

.ab-utilities-item {
    margin-bottom: 15px;
}

.ab-utilities {
    margin-bottom: 25px;
}

.ab-count-section {
    padding: 80px;
    background: url(../images/ab-bg-count.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ab-count-number {
    font-size: 49px;
    color: #fff;
    margin-bottom: 0;
}

.ab-count-item {
    text-align: center;
    margin-bottom: 15px;
}

.ab-count-type {
    margin: 0;
    color: #fff;
    font-size: 16px;
}
.ab-slg {
    padding: 60px 0;
}

.ab-slg-flex {
    display: flex;
    height: 100%;
    align-items: center;
}

.ab-slg-flex .text-colorm {
    font-size: 18px;
}

.ab-slg-title {
    font-size: 30px;
    color: #2d3436;
}

.ab-contact {
    padding: 80px;
    background: url(../images/ab-bg-contact.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ab-contact-title {
    font-size: 30px;
    color: #ffffff;
}

.ab-contact-des {
    font-size: 14px;
    color: #888888;
}

.ab-contact-flex {
    display: flex;
}
.c-item p {
    margin-bottom: 10px;
    color: #555555;
}

.c-item {
    display: block;
    background-color: #fff;
    height: 100%;
    padding: 30px;
}

.c-iframe-map {
    margin-top: 30px;
    padding: 15px;
    background-color: #fff;
}
.home-formbook {
    background: url(../images/bg-section-book.jpg) no-repeat center top;
    background-size: cover;
    padding: 45px 0px;
}
.home-form-title {
    text-align: center;
    font-size: 48px;
    color: #fff;
}

.home-form-line {
    width: 50px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}

.home-form-subtitle {
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 55px;
}
.home-form-tab .nav-link {
    background-color: #00000080;
    margin-right: 1px;
    font-size: 14px;
    color: #fff;
    border-bottom: 0;
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.home-form-tab .nav-link.active {
    border-bottom: 0;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    height: 42px;
    margin-top: -2px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.home-book-content {
    background-color: #fff;
    padding: 40px 30px;
    border: 0;
}

.home-form-tab .nav-item {
    margin: 0;
    border: 0;
}

.home-form-tab .nav-tabs {
    border: 0;
}
.nav-link.active .icon-book1 {
    background-position: -647px -30px;
}
.nav-link.active .icon-book2 {
    background-position: -747px -35px;
}
.nav-link.active .icon-book3 {
    background-position: -95px -84px;
}
.nav-link.active .icon-book4 {
    background-position: -211px -85px;
}
.home-book-flex {
    display: flex;
    justify-content: space-between;
}

.home-book-left {
    width: 50%;
}

.home-book-right {
    width: calc(50% - 70px);
}

.home-distace-row {
    display: flex;
    align-items: center;
    position: relative;
}

.home-distace-row .fa {
    width: 20px;
}

.home-booking-input {
    width: calc(100% - 20px);
    padding: 8px 15px;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.home-button-booking {
    width: calc(100% - 20px);
    position: relative;
}

.home-booking-input::placeholder {
    text-align: left;
    font-size: 13px;
    color: #a5a5a5;
}

.home-button-booking .home-button-icon {
    position: absolute;
    right: 0;
    padding: 3px 10px;
    border-left: 1px solid #ddd;
    display: flex;
    align-items: center;
    top: 7px;
    width: 38px;
    justify-content: center;
    min-height: 22px;
}
.icon-add-button {
    width: 17px;
    height: 17px;
    background-position: -702px -92px;
}

.home-button-booking .home-booking-input {
    padding-right: 40px;
}
.home-distance-from .fa {
    color: #32a3ce;
    font-size: 16px;
}

.home-distance-to .fa {
    color: #ff4a5d;
    font-size: 18px;
}

.home-book-time-input .fa {
    position: absolute;
    top: 13px;
    left: 12px;
    color: #888888;
}

.home-book-time-input {
    position: relative;
}
.home-book-time-input .btn {
    padding-left: 35px;
}
.home-book-right .row {
    margin-right: -5px;
    margin-left: -5px;
}

.home-book-right .col-6 {
    padding: 0 5px;
}

.home-book-time-input .home-booking-input {
    border: 1px solid #ddd;

}
.home-choose .radio-content {
    padding-left: 25px;
}
.home-border-button {
    border-radius: 50px;
    padding: 15px 20px;
    height: auto;
}
.home-long-distance .fa {
    color: #e1e1e1;
}
.home-long-distance .fa {
    color: #e1e1e1;
}

.home-long-distance:after {
    height: 14px;
    width: 1px;
    background-color: #e1e1e1;
    content: "";
    position: absolute;
    top: -8px;
    left: 6px;
}

.home-long-distance {
    position: relative;
}
.button-nolabel {
    margin-top: 28px;
}

.button-nolabel .btn-button {
    height: 44px;
}
.home-book-checkcode .row {
    margin-right: -5px;
    margin-left: -5px;
}

.home-book-checkcode .col-lg-4 {
    padding: 5px;
}
.home-distance .home-distance-from:first-child input {
    padding-top: 0;
}
.footer-choose-language-list a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}

.footer-choose-language-list {
    padding: 0;
}
.home-list-car {
    padding: 65px 0;
}

.home-list-car-filter {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 25px;
}

.home-car-filter-col {
    flex-grow: 1;
    padding: 0 10px;
    max-width: calc(100% / 3 - 26px);
}

.input-search-home {
    flex-grow: 0;
    width: 80px;
}

.home-product-list {
    border-top: 1px solid #ddd;
}

.btn-select-home {
    width: 100%;
    border: 1px solid #ddd;
    padding: 12px 15px;
}

.input-search-home a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #f5ba16;
    border-radius: 5px;
}
.product-item {
    padding: 25px;
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.product-item-right {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-left {
    flex-grow: 1;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.product-item-driver {
    width: 80px;
    margin-right: 25px;
}

.product-item-distance {
    flex-grow: 1;
}

.product-item-driver-avt {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.product-item-driver-star span {
    font-size: 13px;
    width: 9px;
    height: 10px;
    color: #f5ba16;
}

.product-item-driver-star {
    text-align: center;
}

.product-item-driver-id {
    text-align: center;
    margin: 0;
    font-size: 12px;
    color: #222222;
}

.product-item-distance-name {
    font-size: 16px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-item-distance-flex {
    display: flex;
    font-size: 14px;
    color: #888888;
    margin-top: 5px;
}
.product-item-distance-flex .text-bold {
    color: #222222;
}
.product-item-distance-flex p {
    margin: 0;
    margin-right: 5px;
}
.product-item-distance-dots {
    margin: 0 6px;
    margin-top: -11px;
    font-size: 20px;
    color: #f5ba16;
}
.product-item-new-price {
    font-size: 16px;
    color: #888888;
    margin-bottom: 5px;
}

.product-item-new-price span {
    color: #dc1c30;
    font-weight: bold;
}

.product-item-new-price sup {
    color: #dc1c30;
}

.product-item-old-price {
    font-size: 12px;
    color: #888888;
    margin: 0;
}

.product-item-old-price span {
    color: #222222;
    font-weight: 600;
    text-decoration: line-through;
}
.product-item:hover {
    box-shadow: 0px 0px 10px 1px #ddd;
}

.product-item:hover .btn-default {
    background-color: #ef9620;
    color: #fff;
}

.product-item:hover .icon-product-booking {
    background-position: -429px -90px;
}
.home-partner {
    padding: 75px 0;
    background: url(../images/bg-section-partner.jpg) no-repeat center;
    background-size: cover;
}
.home-partner-item {
    background-color: #fff;
}

.home-partner-item-text {
    padding: 25px;
    font-size: 18px;
    color: #555555;
}

.home-partner-item-user {
    padding: 25px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.home-partner-item-info {
    display: flex;
    align-items: center;
}

.home-partner-avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.home-partner-name {
    font-size: 15px;
    color: #222222;
    font-weight: 500;
    margin-right: 10px;
}

.home-partner-link {
    color: #bbbbbb;
    font-size: 18px;
}
.home-partner-item-user:before, .home-partner-item-user:after {
    top: -1px;
    left: 70px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #ddd;
    border-width: 8px;
    margin-left: -36px;
}

.home-partner-item-user:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ffffff;
    border-width: 7px;
    margin-left: -35px;
}
.home-partner-nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.home-partner-count {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-right: 15px;
}

.home-partner-navs button {
    border: 0;
    background-color: #fff;
    padding: 10px 0;
}
.nav-btn {
    padding: 0 12px;
    border-right: 1px solid #ddd;
    height: 17px;
}

.home-partner-navs {
    border-radius: 25px;
    overflow: hidden;
}

.home-partner-line {
    width: 15px;
    height: 1px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.home-partner-text {
    font-size: 15px;
    color: #ffffff;
    font-style: italic;
}
.home-news {
    padding: 65px 0px;
    background-color: #f5f5f5;
}

.home-news-item {
    background-color: #fff;
    border: 0;
    margin-bottom: 30px;
}

.home-news-item .news-list-item-img {
    width: 180px;
}

.home-news-item .news-list-item-content {
    width: calc(100% - 210px);
    padding: 10px 0;
}

.home-news-item .news-list-item-title {
    font-size: 16px;
    max-height: 48px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 5px;
}

.home-news-item .news-list-item-des {
    max-height: 44px;
    -webkit-line-clamp: 2;
}
.home-news-viewmore a {
    width: 150px;
}
.product-list {
    border-top: 1px solid #ddd;
}
.product-car-left {
    width: 600px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.product-car-img {
    width: 200px;
    text-align: center;
}
.product-car-name {
    font-size: 18px;
    color: #222222;
    margin: 0;
}

.product-car-vote {
    margin-bottom: 15px;
}

.product-car-textgray {
    font-size: 14px;
    color: #888888;
}

.product-car-right {
    display: flex;
    align-items: center;
}

.product-item-booking {
    min-width: 150px;
    justify-content: flex-end;
    display: flex;
}

.product-item-price {
    flex-grow: 1;
}

.product-car-note {
    margin: 0;
}
.group-control-two-coupon {
    display: flex;
}

.group-control-two-coupon .btn-dark {
    width: 120px;
    margin-left: 10px;
}
.product-item:hover .icon-history-gray {
    background-position: -244px -22px;
}
.product-history-left {
    width: 90px;
    margin-right: 30px;
}

.product-history-right {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-history-info .text-status {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}
.text-order{
    color: #4285f4;
}
.text-refund{
    color: #ffba00;
}

.product-history-name {
    font-size: 18px;
    color: #222222;
    margin-bottom: 5px;
    font-weight: 600;
}

.product-history-time {
    margin: 0;
}
.list-car-filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.list-car-filter .home-car-filter-col {
    min-width: 25%;
    margin-bottom: 15px;
    max-width: 25%;
}
.btn-search-filter {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.btn-search-filter .fa {
    font-size: 14px;
}
.login-forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px;
}

.login-btn-layout .btn {
    width: calc(50% - 5px);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 11px 15px;
}

.login-btn-layout {
    justify-content: space-between;
    display: flex;
    margin-bottom: 35px;
}
.login-social-title {
    position: relative;
    border-top: 1px solid #ddd;
    margin-bottom: 5px;
}
.login-social-title span {
    background: #fff;
    padding: 5px 10px;
    position: absolute;
    top: -17px;
    width: 210px;
    left: calc(50% - 105px);
    font-size: 12px;
    color: #555555;
}

.login-social-list a {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #222222;
    align-items: center;
}
.login-forgot-pass a {
    font-size: 14px;
    color: #222222;
    text-decoration: underline;
}
.code-phone {
    white-space: nowrap;
}
.register-note a {
    color: #222222;
    text-decoration: underline;
    font-weight: 600;
}
.user-social span {
    left: 0;
    padding-left: 0;
    font-weight: 600;
    color: #000;
}
.user-social-list {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.user-social-list a {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    margin-right: 50px;
    padding: 20px;
}
.user-detail-right {
    background-color: #fff;
    padding: 35px;
    margin-bottom: 15px;
}
.group-control-date {
    display: flex;
    align-items: center;
}

.group-control-date .btn {
    width: 110px;
    margin-right: 20px;
}
.group-control-date .text-note {
    font-size: 12px;
    color: #a5a5a5;
}
.user-nav-left {
    background-color: #fff;
}

.user-top {
    border-bottom: 1px solid #ddd;
}

.user-nav-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    position: relative;
}
.user-nav-avt-hover {
    position: absolute;
    top: 0;
    left: 0;
    color: #000 !important;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff73;
}
.user-nav-avt:hover .user-nav-avt-hover {
    display: flex;
}
.user-nav-text {
    font-size: 14px;
    color: #555555;
    margin: 0;
}

.user-nav-name {
    font-size: 16px;
    color: #222222;
    margin: 0;
}
.user-nav-layout {
    padding: 30px 40px;
}

.user-nav-icon {
    width: 35px;
}
.user-nav-group a {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

.user-nav-group .user-nav-link-top {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    color: #222222;
    align-items: center;
    font-weight: 600;
}

.user-nav-group {
    flex-grow: 1;
    width: 100%;
}
.group-code-confirm {
    display: flex;
}

.group-code-confirm a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    width: 150px;
    margin-left: 15px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-code-confirm .confirm-input {
    width: calc(100% - 165px);
}
.user-detail-right .login-social-list a:last-child {
    border: 0;
}
.user-page {
    padding: 30px 0px;
}
.user-nav-info {
    width: calc(100% - 70px);
}
.home-partner-navs button:last-child .nav-btn {
    border: 0;
}
.aff-step {
    padding: 65px 0;
    text-align: center;
}

.aff-title {
    font-size: 30px;
    color: #222222;
    margin-bottom: 20px;
}

.aff-title-sub {
    font-size: 14px;
    color: #888888;
    margin-bottom: 30px;
}
.aff-si-image {
    height: 250px;
    margin-bottom: 30px;
}

.aff-si-image img {
    height: 100%;
    width: auto;
}

.aff-si-name {
    font-size: 18px;
    color: #2d3436;
    margin-bottom: 15px;
}

.aff-si-description {
    font-size: 14px;
    color: #888888;
    margin: 0;
}
.aff-price {
    padding: 65px 0px 0;
    background: url(../images/aff-price-bg.png) no-repeat bottom center;
    background-size: cover;
    text-align: center;
}
.aff-price-title {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 15px;
}

.aff-price-title-sub {
    font-size: 14px;
    color: #fff;
    margin-bottom: 70px;
}

.aff-price-list {
    display: flex;
    justify-content: space-between;
}
.aff-price-item {
    flex-grow: 1;
    padding: 25px 0 15px;
    border-radius: 4px;
    overflow: hidden;
}
.aff-pi-pd {
    background-color: #fff7ec;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aff-pi-name {
    font-size: 22px;
    color: #2d3436;
    margin-bottom: 0;
}

.aff-pi-note {
    font-size: 14px;
    color: #888888;
}

.aff-pi-value {
    font-size: 60px;
    color: #ef9620;
}

.aff-pi-for {
    font-size: 14px;
    color: #222222;
}

.aff-pi-btn a {
    background-color: #f5ba16;
}

.aff-pi-btn .btn-icon-btn-right {
    display: none;
}

.aff-pi-btn {
    display: flex;
    justify-content: center;
}

.aff-pi-sticky {
    position: absolute;
    top: 8px;
    right: 11px;
    z-index: 2;
    color: #fff;
    font-size: 18px;
}

.aff-price-item.center .aff-pi-pd:after {
    content: "";
    border: 70px solid transparent;
    border-top: 70px solid #f5ba16;
    border-right: #f5ba16;
    position: absolute;
    top: 0
    ;right: 0;
}

.aff-price-item.center .aff-pi-pd{
    background-color: #fff;
}
.aff-price-item.center {
    padding: 0;
    background: #fff;
    box-shadow: 1px 1px 4px 1px #d0d0d0;
}
.aff-choose {
    padding: 65px;
}

.aff-info-title-sub {
    font-size: 18px;
    color: #ef9620;
    margin: 0;
}

.aff-info-title {
    font-size: 30px;
    color: #2d3436;
    margin-bottom: 35px;
}

.aff-info-content p {
    margin-bottom: 35px;
    font-size: 14px;
    color: #888888;
}

.aff-ci-title {
    font-size: 18px;
    color: #2d3436;
}

.aff-ci-content {
    font-size: 14px;
    color: #888888;
    margin: 0;
    min-height: 65px;
}

.aff-choose-col {
    padding-left: 70px;
}

.aff-choose-item {
    margin-bottom: 35px;
}

.aff-info {
    height: 100%;
    display: flex;
    align-items: center;
}
.aff-join {
    padding: 50px 0;
    background: url(../images/aff-join-bg.jpg) no-repeat bottom center;
    background-size: cover;
    text-align: center;
}

.aff-join-flex {
    display: flex;
    justify-content: center;
}


.aff-join-content {
    display: flex;
    align-items: center;
}

.aff-join-content span {
    font-size: 30px;
    color: #ffffff;
    margin: 0 60px 0 30px;
}

.aff-join-content .icon {
    margin: 0;
}

.aff-join-content a {
    background-color: #fff;
    padding: 14px 40px;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
}
.aff-price-item.center .aff-pi-btn .btn-icon-btn-right {
    display: flex;
}
.aff-price-item.center .aff-pi-btn .btn{
    background-color: #ef6920;
}

.aff-price-item.center .aff-pi-value{
    color: #ef6920;
}
.aff-pi-value {
    font-size: 60px;
    color: #ef9620;
    height: 70px;
    line-height: 70px;
}
.aff-step-item {
    position: relative;
}

.aff-step-item:before {
    content: '';
    width: 40px;
    height: 18px;
    background: url(../images/aff-step-dot.png) no-repeat;
    position: absolute;
    top: 125px;
    left: -40px;
}
.aff-step-item.first:before {
    display: none;
}
.carousel-aff-price .owl-nav {
    position: absolute;
    top: calc(50% - 35px);
    height: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}
.ce-icon-page {
    text-align: center;
}

.ce-title-page {
    text-align: center;
    font-size: 30px;
    color: #222222;
}

.ce-title-text {
    text-align: center;
    font-size: 14px;
    color: #555555;
}
.menu-hr-dropdown-content li:hover {
    background-color: #f8f8f8;
}
.ud-fillter-history .home-car-filter-col {
    width: 33%;
    max-width: 33%;
}
.ud-history-top {
    padding: 35px 35px 10px 35px;
}
.user-detail-right .product-history-left {
    width: 40px;
    margin-right: 15px;
}
.user-detail-right  .product-item {
    align-items: end;
}
.user-detail-right  .product-history-right {
    align-items: end;
}
.ud-history-btn a {
    width: 45px;
    height: 45px;
    display: inline-flex;
    background-color: #f8f8f8;
    border-radius: 50%;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
.ud-history-btn-return:hover {
    background-color: #ef9620;
}

.ud-history-btn-return:hover .icon {
    background-position: -620px -164px;
}

.ud-history-btn-delete:hover {
    background-color: #222222;
}

.ud-history-btn-delete:hover .icon {
    background-position: -726px -158px;
}
.ud-history-btn-edit:hover {
    background-color: #f5ba16;
}

.ud-history-btn-edit:hover .icon {
    background-position: -670px -159px;
}
.user-detail-right .product-history-name{
    font-size: 15px;
}
.user-nav-avt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ud-nomessage {
    background-color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ud-no-image img {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.ud-no-text {
    font-size: 16px;
    color: #555555;
    margin: 0;
}
.ud-mail-top {
    padding: 15px 25px;
    justify-content: flex-end;
    display: flex;
}

.ud-mail-topaction a {
    font-size: 11px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 15px;
}

.ud-mail-topaction {
    display: inline-block;
}

.ud-mail-topaction .sticky-action {
    color: #ef9620;
}

.ud-mail-icon {
    width: 60px;
    margin-right: 25px;
}

.ud-mail-iconc {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5ba16;
    border-radius: 50%;
    position: relative;
}

.icon-ud-mail {
    width: 19px;
    height: 14px;
    background-position: -562px -218px;
}

.ud-mail-icon-nr {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #ff0000;
    border-radius: 50%;
    border: 3px solid #fff;
}

.ud-mail-text {
    margin: 0;
    font-size: 13px;
    color: #888888;
}

.ud-mail-title {
    margin: 0;
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}
.ud-mail-item.read .ud-mail-iconc {
    background-color: #f8f8f8;
}

.ud-mail-item.read  .icon.icon-ud-mail {
    height: 18px;
    background-position: -506px -216px;
}

.ud-mail-item.read  .ud-mail-title {
    color: #888888;
}

.ud-mail-item.read  .ud-mail-text {
    color: #b7b7b7;
}
.nd-bg {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.nd-content {
    padding: 10px 0;
}

.nd-after-news {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nd-line-after {
    height: 50px;
    width: 1px;
    background-color: #ddd;
    margin: 0 40px;
}

.ud-news-after a {
    display: block;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
}

.ud-news-after a:first-child {
    color: #ef9620;
    margin-bottom: 5px;
}
.ud-news-before a {
    display: block;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
}

.ud-news-before a:first-child {
    color: #ef9620;
    margin-bottom: 5px;
}

.ud-news-before {
    text-align: right;
}
.nd-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nd-share {
    display: flex;
}

.nd-tags a {
    font-size: 12px;
    color: #555555;
    display: inline-block;
    margin-right: 5px;
    background-color: #f8f8f8;
    padding: 2px 5px;
    border-radius: 3px;
}

.nd-related {
    background-color: #fff;
}

.nd-related-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}

.nd-related-title p {
    margin: 0;
}

.nd-related-navs button {
    width: 26px;
    height: 26px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}

.nd-related-navs {
    display: flex;
}
.nd-redlated-carousels {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.page-messenger {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 8;
    display: flex;
    align-items: center;
}
.page-btn-messenger {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px #ddd;
}
.page-btn-hotline {
    margin-right: 15px;
    padding: 12px 25px;
    color: #fff;
    background-color: #ef3820;
    border-radius: 26px;
    box-shadow: 1px 1px 9px 0px #ef3820;
    display: flex;
    align-items: center;
}
.page-btn-hotline .icon{
    margin-right: 5px;
}
.page-btn-hotline:hover{
    color: #fff;
    background-color: #d62711;
}